* {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
  background-color: black;
}

/* Canvas  */

.three-canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

/* Loading */

.loading-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  cursor: wait;
}
.loading-logo.ended {
  display: none;
}
.loading-bar-container {
  position: absolute;
  left: 20%;
  width: 60%;
  top: 80%;
  height: 10px;
  border-radius: 20px;
  background: white;
  cursor: wait;
}
.loading-bar-container.ended {
  display: none;
}
.loading-bar {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #00ff00;
  transform: scaleX(0);
  transform-origin: top left;
}
