@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cascade;
  src: url("fonts/Cascade.otf");
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  -webkit-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

/* Loading */

.loading-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.loading-container.ended {
  display: none;
}
.loading-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.loading-bar-container {
  position: absolute;
  left: 20%;
  width: 60%;
  bottom: 50px;
  height: 4px;
  border-radius: 9999px;
  background: white;
  cursor: wait;
}
.loading-bar {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: lightskyblue;
  transform: scaleX(0);
  transform-origin: top left;
}
